.bg-loop {
  animation-name: slide;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.bg-vertical {
  animation-name: slide-vertical !important;
}

.bg {
  height: 100vh;
  /*width: 100vw;*/
  background-size: contain;
  background-repeat: repeat;

  /*image-rendering: pixelated;*/
  /*filter: hue-rotate(0.375turn);*/
}

.bg-container {
  z-index: 10;
}

.bg-container img {
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  width: 1920px;
  height: 1080px;
}

.visible {
  z-index: 10 !important;
}

.slides {
/*  display: none;*/
}

.noise {
  display: none;
}

#slideshow {
/*  display: none;*/
/*  filter: invert(1);*/
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  z-index: 10;
  scale: 1.5;
}

@keyframes slide {
  0% {
    background-position: -50vh 0%;
  }

  100% {
    background-position: 50vh 0%;
  }
}

@keyframes slide-vertical {
  0% {
    background-position: 0% -50vh;
  }

  100% {
    background-position: 0% 50vh;
  }
}